@model IEnumerable<MetersProject.Models.WorkOrderHistory>

@{
    ViewData["Title"] = "Index";
}

<h2>History</h2>

<p>
    <a asp-controller="WorkOrders" asp-action="Index">Back to Work Orders</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ColumnChanged)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OldValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnChanged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.WorkOrderID)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
